extends master.pug

block menu
    <a href="/logout" class="btn"><i class="fa fa-sign-out"></i> Déconnexion</a>

block content
    <main>
        <h2 class="text-center">{{user.pseudo}}, bienvenue sur le chat !</h2>

        <div class="chat-container">

            <section class="chat-box">
                <p v-for="message in messages">
                    <strong>{{message.pseudo}}</strong> {{message.text}}
                </p>

                <p class="info" v-if="false"><i class="fa fa-spinner fa-pulse"></i> <ins>toto</ins> est en train de rédiger un message ...</p>
            </section><!-- .chat-box -->

            <section class="users-list">
                <h3><i class="fa fa-users"></i> Utilisateurs connectés</h3>
                <ul>
                    <li v-for="username in userList">
                        <i class="fa fa-user"></i> {{username}}
                    </li>
                </ul>
            </section><!-- .users-list -->

        </div><!-- .chat-container -->

        <form class="chat-form" @submit.prevent="postMessage">
            <input type="text" ref="message" v-model="messageText" autofocus autocomplete="off" spellcheck="false" required name="message" placeholder="Votre message ...">

            <button type="submit">Go!</button>
        </form>
    </main>

block scripts
    <script src="/socket.io/socket.io.js"></script>
    <script src="//unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
    <script src="/scripts/chat.js"></script>