extends master.pug

block content
    <fieldset class="login-form">
        <legend>Choisissez un pseudonyme :</legend>

        <form method="post" action="/chat">
            <div class="form-control">
                <input type="text" name="pseudo" id="pseudo" placeholder="e.g. JohnDoe">
            </div>

            <button type="submit"><i class="fa fa-comments"></i> Rejoindre le chat</button>
        </form>
    </fieldset>

block scripts
    <script src="scripts/app.js"></script>