extends master.pug

block content
    <fieldset class="login-form">
        <legend>Connexion</legend>

        <form method="post" action="/chat">
            <input type="text" name="pseudo" id="pseudo" placeholder="Choisissez un pseudo...">
            <button type="submit">Connexion</button>
        </form>
    </fieldset>

block scripts
    <script src="scripts/app.js"></script>