<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node tchat</title>

    <link rel="stylesheet" href="styles/app.css">
</head>
<body>

<div class="container">
    <h1>Node tchat !</h1>
    <hr>

    block content
</div>

block scripts

</body>
</html>