<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node tchat</title>

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i|Open+Sans:400,600" rel="stylesheet">
    <link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/app.css">
</head>
<body>

<header>
    <div class="container">
        <div class="btn-menu">
            block menu
        </div>
        <h1>
            <i class="fa fa-github-alt"></i>
            | Node tchat !
        </h1>
    </div>
</header>

<div class="container">
    block content
</div>

block scripts

</body>
</html>