html
    background-color #efefef
    font-family 'Open Sans', sans-serif
    font-size 16px

.container
    max-width 54rem
    margin 0 auto

.login-form
    max-width (320/16)rem
    margin 0 auto
    text-align center